@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

BODY 
{
    min-height: 100%;
    margin: 0;
    color: white;
    background: rgb(12, 12, 12);
    font-family: 'Roboto', sans-serif;
}

a 
{
    color:white;
    text-decoration: none;
}

.button 
{
    font-size: 12pt;
    height: 24px;
    background: rgba(21,21,21,.8);
    padding: 8px;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s;
}

.button:hover 
{
    font-size: 12pt;
    height: 24px;
    background: rgba(43, 43, 29, 0.8);
    padding: 8px;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s;
}

.bg 
{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    background: url("../background/first.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    opacity: 40%;
}

.header
{
    padding: 8px;
    height: 40px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
}

.header_content
{
    padding: 8px;
    height: 36px;
    font-weight: bold;
    background: rgba(21,21,21,.8);
    border-radius: 64px;
    font-size: 12pt;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.header a
{
    text-decoration: none;
    color: white;
    transition: .2s;
}


.header a:hover
{
    text-decoration: none;
    color: rgba(250, 250, 192);
    transition: .2s;
}

.header span
{
    padding-left: 4px;
}

.main
{
    margin: 0 8px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rules_main
{
    margin: 8px 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_content
{   
    width: 70%;
    padding: .625em;
    background: rgba(21,21,21,.8);
    border-radius: 12px;
}

.main_content:not(:last-child) 
{
    margin-bottom: 12px;
}

.rules_content
{   
    width: 70%;
    padding: .625em;
    background: rgba(21,21,21,.8);
    border-radius: 12px;
}


.rules_content span
{   
    white-space: pre-line;
}

.rules_content:not(:last-child) 
{
    margin-bottom: 12px;
}

.frames .button 
{
    margin-top: 14px;
    width: 128px;
}

#frames 
{
    height: 95vh;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame {
    text-align: center;
    display: flex!important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title
{
    color: rgb(246, 248, 121);
    font-size: 24px;
    font-weight: bold;
}